[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Slackware-Commander
Comment=configuration loader
Exec=kdesu /usr/local/bin/Slackware-Commander.sh
Icon=/usr/share/icons/Slackware-Commander/Slackware-Commander2.png
Terminal=false
Categories=Settings;HardwareSettings;
