[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Slackware-Commander
Comment=System files,packages configuration loader
Exec=SlackwareCommander
Icon=SlackwareCommander
Terminal=false
Categories=Settings;HardwareSettings;
