[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SBoFinder
Comment=Print information from SBo Ponce builds.
Exec=python3 /usr/local/bin/sbofinder
Icon=meta-sbo
Terminal=false
Categories=Utilities;Applications;
