[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SBo-Finder
Comment=Print information from SBo Ponce builds.
Exec=python3 /usr/local/bin/sbofinder
Icon=sbofinder
Terminal=false
Categories=Utilities;Applications;
