[Desktop Entry]
Type=Application
Name=slakfinder
Comment=Search in slakfinder WebPage
Exec=python3 /usr/local/bin/slakfinder
Icon=slakfinder
Terminal=false
Categories=Utility;
