[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=soviewer
Comment=print all shared object (.so)
Exec=python3 /usr/local/bin/soviewer
Icon=soviewer
Terminal=false
Categories=Utilities;Applications;
